*{
	box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
  background: #FFEBEE;
}

body{
  background: #FFEBEE;
}

.navbar-brand{
	margin: 0 1em;
}

.icon-margen{
	margin-right: .5em;
}

.icon-margen-li{
	margin-right: 1.5rem;
}

.corregir-menu-fix{
	margin-top: 70px;
	text-align: center;
}

.tabla-resultado th{
	text-align: center;
}

.center-login,
.center-busqueda{
  position: relative;
  top: 8em;
}

.marginr-inicio-sesion{
  margin-right: 10px;
}

.footer-bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #101010;
  line-height: 3;
  color: #fff;
  text-align: center;
}

/*.v-center{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
*/

