<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} Sis Legajos {% endblock %}</title>
		<!--Boostrap local-->
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>

<!-- COMIENZO TOP BAR -->

<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Sis Legajos v0.3</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">

		<li class="nav-item">
			<a class="nav-link" href="/nuevo_alumno"><span class="glyphicon glyphicon-plus-sign" aria-hidden="false"></span> NUEVO ALUMNO</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#"><span class="glyphicon glyphicon-level-up" aria-hidden="false"></span> MOVER LEGAJO</a>
		</li>

		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> BUSCAR POR <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/busqueda_dni"><span class="glyphicon glyphicon-book" aria-hidden="true" style="margin-right: 5px"></span> DNI </a></li>

				<li role="separator" class="divider"></li>

				<li><a href="/busqueda_apellido"><span class="glyphicon glyphicon-text-background" aria-hidden="true" style="margin-right: 5px"></span> APELLIDO </a></li>
				
				<li role="separator" class="divider"></li>
				
				<li><a href="/busqueda_legajo"><span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="margin-right: 5px"></span> LEGAJO </a></li>
			</ul>
		</li>
	</ul>
	</div>
</nav>
<!-- FINAL TOP BAR -->
			<div class="corregir-menu-fix" style="margin-top:70px; text-align:center">
			</div>
			<div class="col-lg-12" class="col-md-8" class="col-sm-12" id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>

		<!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
		<script
			  src="https://code.jquery.com/jquery-3.1.1.js"
			  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
			  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
<!--		<script src="../static/js/jquery-3.1.1.js"></script>
		<script src="../static/js/bootstrap.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/npm.js"></script> -->

	</body>
</html>