<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} Sis Legajos {% endblock %}</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

		<!-- Boostrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">  -->
		

		<!-- Mis estilos -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css"> 

		
	</head>
	<body>
		<!-- Nav principal -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			
			<!-- Marca y toggle se agrupan para una mejor visualización móvil -->
			<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SL Admin v0.3</a>
            </div>

            <!-- Agrupar los enlaces de navegacion para responsive -->
	

			<!-- Menu despleglable ALUMNOS -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-education icon-margen"></i> Alumnos<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="/nuevo_alumno/"><i class="glyphicon glyphicon-plus-sign icon-margen-li"></i> Nuevo</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#"><i class="glyphicon glyphicon-list-alt icon-margen-li"></i> Listar</a></li>
			          </ul>
			        </li>
				</ul><!-- ./nav-bar alumnos -->
				
				<!-- Menu despleglable BUSQUEDA -->
				<ul class="nav navbar-nav">
					<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-search icon-margen"></i> Buscar por <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="/busqueda_dni"><i class="glyphicon glyphicon-credit-card icon-margen-li"></i> D.N.I</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="/busqueda_apellido"><i class="glyphicon glyphicon-user icon-margen-li"></i> Apellido</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="/busqueda_legajo"><i class="glyphicon glyphicon-folder-open icon-margen-li"></i> N° Legajo</a></li>
			          </ul>
			        </li>
				</ul><!-- ./nav-bar busqueda -->
				
				<!-- Login / Logout -->
				<ul class="nav navbar-nav navbar-right pull-right marginr-inicio-sesion">
					
					{% if not user.is_authenticated %}
					<li><a href="/login/"><i class="glyphicon glyphicon-log-in icon-margen-li"></i>Iniciar sesión</a></li>

						{% else %}
							<li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user icon-margen"></i> Bienvenido <strong>{{user.username}}</strong> <span class="caret"></span></a>
					          <ul class="dropdown-menu">
					            <li><a href="/logout/"><i class="glyphicon glyphicon-off icon-margen-li"></i> Logout</a></li>
					          </ul>
					        </li>
				    {%  endif %}
				</ul><!-- ./nav-bar busqueda -->


			</div><!-- ./collapse -->
			
		</nav><!-- ./nav principal -->

		<div class="corregir-menu-fix"></div> <!-- /.clear-fix -->

		<div class="container">
				{% block content %}
				{% endblock %}
		</div>
		<!-- Footer -->
		<footer class="footer-bottom">
			<span>Informatorio 2016 © . All Rights Reserved | Design by <a href="https://www.facebook.com/informatorio/?fref=ts">Informatorio Chaco</a></span>
		</footer>
		



		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../static/js/jquery-3.1.1.js"></script>
		<script src="../static/js/bootstrap.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/npm.js"></script>



	</body>

</html>