{% extends "base.html" %}

{% block title %} Login{% endblock %}

{% block content %}


<div class="row center-login">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<h3 class="panel-title">SL Admin v0.3</h3>
			</div>
			<div class="panel-body">
				<form method="post">
					{% csrf_token %}

					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Username</span>
					  <input type="text" name="username" placeholder="Ingrese su nombre de usuario" class="form-control" aria-describedby="basic-addon1">
					</div>
					<br>

					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Password</span>
					  <input type="password" name="password" placeholder="Ingrese su contraseña" class="form-control" aria-describedby="basic-addon1">
					</div>
					<br>

					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-success col-md-12">Entrar</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>



{% endblock %}