<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<title> Sesion Cerrada </title>
</head>
<body>
	<div class="container-fluid" style="text-align:center; background-color:#6b6b6b; height:100%">
		<div class="jumbotron">
		  <h1>¡Sesión Cerrada con Éxito!</h1>
		  <p>Gracias por su estadía y que tenga un buen día.</p>
		  <p><a class="btn btn-danger btn-lg" href="/login/" role="button">Pulse aquí si quiere ingresar de nuevo</a></p>
		</div>
	</div>
</body>