{% extends "base.html" %}

{% block title %} Resultado {% endblock %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<h3>Los resultados para: {{ dni }} {{ apellido }} {{ legajo }} </h3>
	  </div>
	<table class="table tabla-resultado">
		<tr class="danger">
			<th><h4>Legajo</h4></th>
			<th><h4>D.N.I.</h4></th>
			<th><h4>Apellido</h4></th>
			<th><h4>Nombre</h4></th>
			<th><h4>Perfil Completo</h4></th>
		</tr>
		{% for alumno in legajos_encontrados %}
		<tr>
			<th>{{ alumno.legajo }}</p></th>
			<th>{{ alumno.dni }}</th>
			<th>{{ alumno.apellido }}</th>
			<th>{{ alumno.nombre }}</th>
			<th><a href="/legajo/{{ alumno.id }}"> VER</a></th>
		</tr>
		{% endfor %}
	</table>
	</div>
</div>
{% endblock %}